/* .flexRowContent--home__section--one {
    background-color: rgb(27, 27, 42);
    
} */

.flexColChild--section__one--image {
    max-width: 600px;
}

/* .link--link__button--home :global(.vtex-store-link-0-x-label--link__button--home) {
    background-color: red;
} */

